/* INPUTS */
.field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

label {
    font-size: 13px;
    font-weight: 600;
}

input[type] {
    height: 40px;
    width: 100%;
    padding: 0 var(--space-4);
    border-radius: var(--radius-md);
    border: 1px solid var(--border-soft);
    background: var(--input-bg);
    color: var(--text-main);
    outline: none;
    transition: 0.2s;

    &::placeholder {
        color: var(--text-muted);
    }

    &:focus {
        border-color: var(--brand-primary);
        box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
    }

    &:disabled {
        user-select: none;
        touch-action: none;
        cursor: not-allowed;
        background-color: var(--bg-disabled);
        color: var(--text-disabled);
        border-color: var(--border-disabled);
    }
}