@use 'breakpoints' as bp;

:host {

    .logo-img {
        display: block;
        width: 100%;
        max-width: 150px;
        height: auto;
        text-align: center;
        place-items: center;
        filter: invert(1);

    }

    svg {
        width: 100px;
        height: 35px;
        display: flex;
        align-items: center;

        @include bp.size(md) {
            width: 200px;
            height: 50px;
        }
    }

}