@use 'sass:map';

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url(../fonts/MaterialSymbolsOutlined[FILL\,GRAD\,opsz\,wght].woff2) format('woff');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

$font-family-base: 'Inter', system-ui, -apple-system, sans-serif;

$font-sizes: (
    xs: 0.75rem,
    // 12px
    sm: 0.875rem,
    // 14px
    base: 1rem,
    // 16px
    lg: 1.25rem,
    // 20px
    xl: 1.5rem,
    // 24px
    xxl: 2rem // 32px
);

$font-weights: (
    normal: 400,
    medium: 500,
    semibold: 600,
    bold: 700,
    black: 800
);

:root {

    /* 3. LOOP PARA TIPOGRAFIA (Baseado no mapa $font-sizes) */
    @each $name, $value in $font-sizes {
        --text-#{$name}: #{$value};
    }

    @each $name, $value in $font-weights {
        --font-#{$name}: #{$value};
    }
}