<div class="menu-profile">
    <app-user-profile />
</div>

<div class="menu-group">
    <div class="menu-label">Geral</div>
    <a class="menu-item" routerLink="/" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
    <a class="menu-item" routerLink="/agenda" routerLinkActive="active">Agenda</a>
</div>

<div class="menu-group">
    <div class="menu-label">Gestão</div>
    <a class="menu-item" routerLink="/students" routerLinkActive="active">Alunos</a>
    <a class="menu-item" routerLink="/teachers" routerLinkActive="active">Professores</a>
    <a class="menu-item" routerLink="/classes" routerLinkActive="active">Turmas e Notas</a>
</div>

<div class="menu-group" style="margin-top: auto; padding-bottom: 20px;">
    <a class="menu-item">⚙ Configurações</a>
</div>